{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"ignorePath": ".prettierignore",
	"printWidth": 120,
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"useTabs": true,
	"withNodeModules": false,
	"trailingComma": "all"
}
