name: Deploy-On-Fandogh
on:
  push:
    branches: [master]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: update-fandogh
        env:
          FANDOGH_USERNAME: ${{ secrets.FANDOGH_USERNAME }}
          FANDOGH_PASSWORD: ${{ secrets.FANDOGH_PASSWORD }}
        run: |
          pip install fandogh_cli --upgrade
          fandogh login --username=$FANDOGH_USERNAME --password=$FANDOGH_PASSWORD
          fandogh source run
